<form action="/youtube/info" method="post">
    <div class="search-bar">
        <input type="search" name="url" class="search-input" placeholder="INPUT A YOUTUBE URL" value="{{{ url }}}"/>
        <input type="submit" value="START" class="search-submit"/>
    </div>
</form>

<div class="row">
    <div class="col-6 align-center">
        <img class="video-thumbnail" src="{{ thumbnail.url }}" width="{{ thumbnail.width }}"
             height="{{ thumbnail.height }}">
        <h1 class="video-title">{{ title }}</h1>
        <p class="duration">Duration: <b>{{ duration }}</b></p>
    </div>
    <div class="col-6">
        <table class="table">
            <thead>
            <th>Type</th>
            <th>Resolution</th>
            <th>File size</th>
            <th>Download</th>
            </thead>
            <tbody>
            {{#each formats.mp4 }}
                <tr>
                    <td>MP4</td>
                    <td>{{ quality_label }}</td>
                    <td>{{ clen }}</td>
                    <td class="text-right">
                        <a href="javascript:void(0)" rel="nofollow" type="button"
                           class="btn btn-success download-button" data-format=".mp4"
                           data-quality="{{ itag }}">Download</a>
                    </td>
                </tr>
            {{/each}}
            {{#each formats.webm }}
                <tr>
                    <td>WEBM</td>
                    <td>{{ quality_label }}</td>
                    <td>{{ clen }}</td>
                    <td class="text-right">
                        <a href="javascript:void(0)" rel="nofollow" type="button"
                           class="btn btn-success download-button" data-format=".mp4"
                           data-quality="{{ itag }}">Download</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.download-button').on('click', function () {
            console.log($(this).attr('data-quality'), '{{ url }}');
            var apiUrl = '/youtube/download';
            var data = {
                url: '{{{ url }}}',
                quality: $(this).attr('data-quality'),
                format: $(this).attr('data-format'),
                title: '{{{ title }}}'
            };
            var form = $('<form target="_blank"></form>');

            form.attr("method", "post");
            form.attr("action", apiUrl);

            $.each(data, function (key, value) {
                var field = $('<input></input>');

                field.attr("type", "hidden");
                field.attr("name", key);
                field.attr("value", value);

                form.append(field);
            });

            // The form needs to be a part of the document in
            // order for us to be able to submit it.
            $(document.body).append(form);
            form.submit();
        })
    })
</script>